{
  "extends": [
    "@antfu",
    "@unocss"
  ],
  "rules": {
    // "vue/no-deprecated-dollar-listeners-api": "off"
  },
  "overrides": [
    {
      "files": ["**/*.md/*.vue", "**/*.md/*.js"],
      "rules": {
        "vue/require-explicit-emits": "off",
        "vue/no-deprecated-dollar-listeners-api": "off",
        "@typescript-eslint/no-invalid-this": "off",
        "vue/valid-attribute-name": "off"
      }
    }
  ]
}
