@keyframes slide-enter {
  0% {
    transform: translateY(10px);
    opacity: 0
  }

  to {
    transform: translateY(0);
    opacity: 100
  }
}

@media (prefers-reduced-motion:no-preference) {
  [slide-enter],
  .slide-enter,
  .slide-enter-content > *:not(:has(.table-of-contents)) {
    --enter-stage: 0;
    --enter-step: 60ms;
    --enter-offset-step: 4ms; /* step decline, like 90ms 85ms 80ms ... 5ms 0ms 0ms 0ms 0ms */
    --enter-offset-time: 15; /* 90 / 5 */
    --enter-initial: 0ms;
    --enter-offset: max(var(--enter-step) - 5ms * var(--enter-stage), 0ms);
    --enter-stage-truly: min(var(--enter-stage), var(--enter-offset-time));
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--enter-initial) + (var(--enter-step) + var(--enter-offset)) * (var(--enter-stage-truly) + 1) / 2);
  }

  .slide-enter-content > *:nth-child(1) { --enter-stage: 1; }
  .slide-enter-content > *:nth-child(2) { --enter-stage: 2; }
  .slide-enter-content > *:nth-child(3) { --enter-stage: 3; }
  .slide-enter-content > *:nth-child(4) { --enter-stage: 4; }
  .slide-enter-content > *:nth-child(5) { --enter-stage: 5; }
  .slide-enter-content > *:nth-child(6) { --enter-stage: 6; }
  .slide-enter-content > *:nth-child(7) { --enter-stage: 7; }
  .slide-enter-content > *:nth-child(8) { --enter-stage: 8; }
  .slide-enter-content > *:nth-child(9) { --enter-stage: 9; }
  .slide-enter-content > *:nth-child(10) { --enter-stage: 10; }
  .slide-enter-content > *:nth-child(11) { --enter-stage: 11; }
  .slide-enter-content > *:nth-child(12) { --enter-stage: 12; }
  .slide-enter-content > *:nth-child(13) { --enter-stage: 13; }
  .slide-enter-content > *:nth-child(14) { --enter-stage: 14; }
  .slide-enter-content > *:nth-child(15) { --enter-stage: 15; }
  .slide-enter-content > *:nth-child(16) { --enter-stage: 16; }
  .slide-enter-content > *:nth-child(17) { --enter-stage: 17; }
  .slide-enter-content > *:nth-child(n+18) { --enter-stage: 18; }
}

@keyframes wave-hand {
  from {
    transform: scale3d(1, 1, 1);
  }

  20% {
    transform: scale3d(1, 1, 1);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@media (prefers-reduced-motion:no-preference) {
  [wave-hand],
  .wave-hand {
    animation-name: wave-hand;
    animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: bottom right;
  }
}
