.prose pre:not(.shiki) {
  padding: 0;
  margin: 0;
  background: transparent;
}

.prose .shiki {
  font-size: 1.1em;
  line-height: 1.1em;
  margin: 0.5em 0;
}

.shiki-light {
  background: #fafafa80 !important;
}
.shiki-dark {
  background: #25252680 !important;
}

html.dark .shiki-light {
  display: none;
}

html:not(.dark) .shiki-dark {
  display: none;
}

.prose {
  --fg: #555;
  --fg-deep: #222;
  --fg-deeper: #000;

  color: var(--fg);
  --un-prose-borders: rgba(125,125,125,0.3);
  --un-prose-headings: #18181B;
}

.dark .prose {
  --un-prose-headings: #FAFAFA;
}

.prose a {
  --at-apply: under-anime under-base;
}

.prose a:hover{
  --at-apply: under-anime-hover;
}

.prose a code {
  color: inherit;
}

.prose hr {
  width: 50px;
  margin: 2em auto;
}

html.dark .prose {
  --fg: #bbb;
  --fg-deep: #ddd;
  --fg-deeper: #fff;
}

a.header-anchor {
  float: left;
  margin-top: 0.125em;
  margin-left: -1.2em;
  padding-right: 0.25em;
  padding-left: 0.25em;
  font-size: 0.85em;
  opacity: 0;
  text-decoration: none;
  border: 0 !important;
}

a.header-anchor:hover,
a.header-anchor:focus {
  text-decoration: none;
}

h1:hover .header-anchor,
h1:focus .header-anchor,
h2:hover .header-anchor,
h2:focus .header-anchor,
h3:hover .header-anchor,
h3:focus .header-anchor,
h4:hover .header-anchor,
h4:focus .header-anchor,
h5:hover .header-anchor,
h5:focus .header-anchor,
h6:hover .header-anchor,
h6:focus .header-anchor {
  opacity: 0.5;
}

.prose blockquote {
  font-weight: normal;
  font-style: normal;
  line-height: 1.5em;
  padding: 0.6em 1.2em;
  opacity: 0.8;
}

.prose blockquote > :first-child {
  margin-top: 0;
}

.prose blockquote > :last-child {
  margin-bottom: 0;
}

.table-of-contents {
  --uno: fixed z-200 left-4 top-16 bottom-4 flex flex-col lt-lg:right-4;
}

.table-of-contents.ul-hidden {
  --uno: w-fit bottom-unset;
}

.table-of-contents.ul-hidden > ul {
  display: none;
}

@media (min-width: 1024px) {
  .table-of-contents {
    width: calc((100vw - 65ch - 4rem) / 2);
    max-width: 30ch;
  }
}

.table-of-contents-anchor {
  backdrop-filter: blur(4px);
  --uno: w-fit text-lg lt-lg:(p1 btn-border op67 hover:op100) flex-center rd cursor-pointer lt-sm:ml-auto transition duration-400 bg-white/90 dark:bg-black/90;
}

.table-of-contents ul {
  margin: 0;
}

.table-of-contents > ul {
  text-overflow: ellipsis;
  height: 100%;
  overflow-y: auto;
  font-size: 0.8em;
  backdrop-filter: blur(10px);
  --uno: pl-0 py-2 rounded transition duration-700 list-none lt-lg:(mt2 px2 bg-white/95 dark:bg-black/95 shadow ring-1 ring-zinc/10);
}

.table-of-contents > ul > li > a {
  --uno: text-1.2em;
}

.table-of-contents ul > li::before {
  display: none;
}

.table-of-contents ul > li {
  --uno: leading-loose marker:c-zinc/50;
}

.table-of-contents ul > li > a {
  --uno: inline-block align-top w-full op75 hover:op100 transition before:hidden after:hidden;
}

.code-wrap .line {
  white-space: break-spaces;
}
